<p id="notice"><%= notice %></p>

<h1>Curriculos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Curso</th>
      <th>Matriz</th>
      <th>Disciplina</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @curriculos.each do |curriculo| %>
      <tr>
        <td><%= curriculo.nome %></td>
        <td><%= curriculo.curso_id %></td>
        <td><%= curriculo.matriz_id %></td>
        <td><%= curriculo.disciplina_id %></td>
        <td><%= link_to 'Show', curriculo %></td>
        <td><%= link_to 'Edit', edit_curriculo_path(curriculo) %></td>
        <td><%= link_to 'Destroy', curriculo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Curriculo', new_curriculo_path %>
